@using ProgrammersBlog.Shared.Utilities.Results.ComplexTypes
@model ProgrammersBlog.Entities.DTOs.CategoryListDto
@{
    ViewData["Title"] = "Kategoriler";
}

<h1 class="mt-4">Kategoriler</h1>
@*<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="index.html">Kategoriler</a></li>
    <li class="breadcrumb-item active">Tables</li>
</ol>*@

@if (Model.ResultStatus == ResultStatus.Success)
{
    <div class="card mb-4 mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Kategoriler
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="categoriesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Adı</th>
                            <th>Not</th>
                            <th>Aktif Mi?</th>
                            <th>Silinmiş Mi?</th>
                            <th>Oluşturan / Tarih</th>
                            <th>Düzenleyen / Tarih</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td>@category.Id</td>
                                <td>@category.Name</td>
                                <td>@category.Note</td>
                                <td>@category.IsActive</td>
                                <td>@category.IsDeleted</td>
                                <td>
                                    @category.CreatedByName
                                    <br />
                                    @category.CreatedDate
                                </td>
                                <td>
                                    @category.ModifiedByName
                                    <br />
                                    @category.ModifiedDate
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Adı</th>
                            <th>Aktif Mi?</th>
                            <th>Silinmiş Mi?</th>
                            <th>Not</th>
                            <th>Oluşturan / Tarih</th>
                            <th>Düzenleyen / Tarih</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
}

@if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="alert alert-danger mt-2">
        @Model.Message
        Dashboard sayfasına geri dönmek için lütfen <a class="alert-link" asp-area="Admin" asp-controller="Home" asp-action="Index">tıklayınız.</a>
    </div>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#categoriesTable').DataTable({
                dom:
                    "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",

                buttons: [
                    {
                        text: 'Ekle',
                        className: 'btn btn-success',
                        action: function (e, dt, node, config) {
                            alert('Ekle Butonu');
                        }
                    },
                    {
                        text: 'Yenile',
                        className: 'btn btn-warning',
                        action: function (e, dt, node, config) {
                            alert('Yenile Butonu');
                        }
                    }
                ],

                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Turkish.json'
                }

                //language: {
                //    "sDecimal": ",",
                //    "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                //    "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                //    "sInfoEmpty": "Kayıt yok",
                //    "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                //    "sInfoThousands": ".",
                //    "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                //    "sLoadingRecords": "Yükleniyor...",
                //    "sProcessing": "İşleniyor...",
                //    "sSearch": "Ara:",
                //    "sZeroRecords": "Eşleşen kayıt bulunamadı",
                //    "oPaginate": {
                //        "sFirst": "İlk",
                //        "sLast": "Son",
                //        "sNext": "Sonraki",
                //        "sPrevious": "Önceki"
                //    },
                //    "oAria": {
                //        "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                //        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                //    },
                //    "select": {
                //        "rows": {
                //            "_": "%d kayıt seçildi",
                //            "1": "1 kayıt seçildi"
                //        }
                //    }
                //}
            });
        });
    </script>
}